<html>
    <head>
        <title>Password_reset_done</title>
        {% include 'cdnlines.html' %}
    </head>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: aqua;
        }
        .parent{
            width: 300px;
            height: 200px;
            text-align: center;
            background-color: hsla(150,50%,50%,0.7);
        }
    </style>
    <body>
       <div class="parent">
        <h3>Password Reset Sent</h3>
        <p>I sent password reset mail to that email <span style="color: brown;">Please Check Your Email</span>

        </p>

       </div>
        
    </body>
</html>