<html>
    <head>
        <title>Password_reset_complete</title>
        {% include 'cdnlines.html' %}
    </head>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: cornflowerblue;
        }
        .parent{
           
            width: 300px;
            height: 300px;
            background-color: chartreuse;
            text-align: center;
            border-radius:10px;
        }
        h3{
            margin-top: 30px;
        }
    </style>
    <body>
        <div class="parent">
            <h3>Password reset complete</h3>
            <small>Your Password has Been Set.You may go ahead and log in now</small><br>
            <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>

        </div>
    </body>
</html>