<html>
    <head>
        <title>Password_change_done</title>
        {% include 'cdnlines.html' %}
    </head>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: hsl(129, 55%, 40%);
        }
        .parent{
            width: 350px;
            height: 200px;
            background-color: hsla(0, 88%, 50%, 0.984);
            border-radius: 10px ;
            color: azure;
        }
    </style>
    <body>
        <div class="parent text-center">
            <h3>Password Changed Successful</h3>
            <small>Your Password Has Been Changed</small><br>
           
                <a href="{% url 'login' %}" class="btn btn-outline-primary">login</a>
           

        </div>
    </body>
</html>